@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #1c1c22;
  --foreground: #ededed;
  --accent: #00e187;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  body {
    @apply font-primary leading-loose text-white;
  }

  h1 {
    @apply text-5xl font-semibold leading-[1.1] xl:text-7xl;
  }

  h2 {
    @apply text-4xl font-semibold leading-[1.1] xl:text-5xl;
  }

  h3 {
    @apply text-xl font-semibold leading-[1.1] xl:text-2xl;
  }
}

.indicator-bounce {
  animation: indicator-bounce 2s ease-in-out infinite;
}

.scroller {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  padding-bottom: 1rem;
}

.scroller-inner {
  width: max-content;
  padding: 0;
  display: flex;
  gap: 1rem;
  animation: skills-scroll 20s linear infinite;
}

.gradient-wrapper path {
  fill: url(#myGradient);
}

/* Override styles for autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px var(--background) inset;
  -webkit-text-fill-color: var(--foreground);
}

@keyframes skills-scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes indicator-bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(25px);
  }
}
